[Unit]
Description=open-blink Detection Service
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/home/chris/open-blink/detection_service/run.sh
WorkingDirectory=/home/chris/open-blink/detection_service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=chris

[Install]
WantedBy=multi-user.target
