[Unit]
Description=open-blink Detection Service
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=PLACEHOLDER_APP_PATH/open-blink/detection_service/run.sh
WorkingDirectory=PLACEHOLDER_APP_PATH/open-blink/detection_service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=PLACEHOLDER_USER

[Install]
WantedBy=multi-user.target
